<mat-card>
  <mat-card-content class="mat-elevation-z2">

    <p class="auth--app-name">Cuisine Connect</p>

    <ng-container *ngIf="authState;else loginForm">

      <p class="auth--greetings">{{ 'auth.createAccount' | translate }}</p>

      <form (ngSubmit)="service.register()" [formGroup]="service.registerForm">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'auth.fullname' | translate }}</mat-label>
          <input matInput type="text" placeholder="Enter your full name" formControlName="fullname">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>{{ 'auth.email' | translate }}</mat-label>
          <input matInput type="email" autocomplete="username" placeholder="Enter your email address" formControlName="email">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>{{ 'auth.password' | translate }}</mat-label>
          <input matInput type="password" autocomplete="current-password" placeholder="Enter your password" formControlName="password">
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit">{{ 'auth.submitButton' | translate }}</button>
      </form>
  
      <p class="auth--switch" (click)="updateState(false)">
        {{ 'auth.haveAnAccountAlready' | translate }} <span class="auth--switch-action">{{ 'auth.loginInfoMessage' | translate }}</span>
      </p>

    </ng-container>
    <ng-template #loginForm>

      <p class="auth--greetings">{{ 'auth.welcomeBack' | translate }}</p>

      <form (ngSubmit)="service.login()" [formGroup]="service.loginForm">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'auth.email' | translate }}</mat-label>
          <input matInput type="email" autocomplete="username" placeholder="Enter your email address" formControlName="email">
        </mat-form-field>
    
        <mat-form-field appearance="outline">
          <mat-label>{{ 'auth.password' | translate }}</mat-label>
          <input matInput type="password" autocomplete="current-password" placeholder="Enter your password" formControlName="password">
        </mat-form-field>
    
        <button mat-raised-button color="primary" type="submit">{{ 'auth.loginButton' | translate }}</button>
      </form>
  
      <p class="auth--switch" (click)="updateState(true)">
        {{ 'auth.newToCuisineConnect' | translate }} <span class="auth--switch-action">{{ 'auth.signUpInfoMessage' | translate }}</span>
      </p>

    </ng-template>

  </mat-card-content>
</mat-card>
