
<br>

<h2 class="homepage--section-title">{{ 'adminPortal.adminDashboardTitle' | translate }}</h2>

<br>

<div class="selections">

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'adminPortal.manageCuisinesCategoriesTitle' | translate }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image routerLink="/admin/manage-cuisines" src="https://victoria.mediaplanet.com/app/uploads/sites/151/2019/08/George-Brown-culinary-class-888x500.jpg" alt="manage-cuisine-categories">
    <mat-card-content>
      <p>{{ 'adminPortal.manageCuisinesCategoriesDescription' | translate }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/admin/manage-cuisines">{{ 'adminPortal.manageButtonText' | translate }}</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'adminPortal.manageRecipesTitle' | translate }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image routerLink="/admin/manage-recipes" src="https://lh3.googleusercontent.com/h3MPsQ6u1vqIZiuRQMjwDL9-8KmwXnyjZL2nfqHa3nowcBlW2lcJZoX2scVLW868U0ZaUWn-uiEBsNqeptfbt5-1oH-W15XJU9-uOMYzOPaSNuem2NiXX86DkdquPTeiaIYazkA0dMenf6oLTFjFItq58-Z_GxVQOGGOkCT3dgr231cEDXe7cNcuywxlew" alt="manage-recipes">
    <mat-card-content>
      <p>{{ 'adminPortal.manageRecipesDescription' | translate }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/admin/manage-recipes">{{ 'adminPortal.manageButtonText' | translate }}</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'adminPortal.manageUsersTitle' | translate }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image routerLink="/admin/manage-users" src="https://assets.ncr.com/content/ncr/us/en/home/blogs/restaurants/best-restaurant-management-styles/_jcr_content/root/container/container_238116401_/container_1439208595/container_copy/image_copy_copy.coreimg.90.1000.jpeg/1663230686175/4-restaurant-management-081321.jpeg" alt="manage-users">
    <mat-card-content>
      <p>{{ 'adminPortal.manageUsersDescription' | translate }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/admin/manage-users">{{ 'adminPortal.manageButtonText' | translate }}</button>
    </mat-card-actions>
  </mat-card>

</div>
