.page--section-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .page--section-title {
    font-size: 32px;
  }
}

form {
  display: flex;
  gap: 12px;

  div > * {
    width: 500px;
  }

  .mat-mdc-form-field {
    display: block;
    .mat-mdc-raised-button {
      margin-right: 10px;
    }
  }

  .mat-mdc-raised-button {
    margin-top: 36px;
  }

  .form--image {
    aspect-ratio: 4/3;
    margin-bottom: 22px;
    object-fit: cover;
  }

  .form--empty-image {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(black, 0.4);
    border-radius: 4px;
    aspect-ratio: 4/3;
    margin-bottom: 22px;
    .mat-icon {
      color: rgba(black, 0.5);
      font-size: 100px;
      width: 100px;
      height: 100px;
    }
  }

  ol, ul {
    margin-bottom: 40px;
  }

  li {
    font-size: 18px;
    .mat-icon {
      cursor: pointer;
      height: 20px;
      width: 20px;
      font-size: 20px;
      transform: translateY(3px);
      margin-left: 8px;
    }
  }

}
