.toolbar {
  
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;

  .toolbar--content {
    flex: 0 1 calc(1200px + 12px*2);
    padding: 0;
    gap: 8px;
  }

  .toolbar--app-name {
    margin-right: auto;
    cursor: pointer;
  }

  .toolbar--action {
    cursor: pointer;
    user-select: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .toolbar--actions {
    display: flex;
    align-items: center;
  }

  .toolbar--image-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 500;
    flex-wrap: wrap;
    cursor: pointer;
    user-select: none;
    border-radius: 6px;
    margin-left: 12px;
    img {
      border-radius: 25px;
      cursor: pointer;
      user-select: none;
      margin: 1.5px 0;
    }
    .mat-icon {
      margin-left: 4px;
    }  
  }
}

.toolbar--language {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  border-radius: 8px;
  gap: 4px;
  span {
    font-size: 16px;
  }
  &:hover {
    background-color: rgba(black, 0.1);
  }
}

.root--content-footer {
  padding: 12px;
  p {
    font-size: 16px;
  }
  span {
    color: #3f51b5;
    cursor: pointer;
  }
  &.auth {
    position: absolute;
    width: calc(100vw - 24px - 10px - 7px);
    margin-top: -56px;
    p { 
      text-align: center;
      transform: translateX(12px);
    }
  }
}

.root.authenticated {
  display: flex;
  justify-content: center;
  padding: 64px 16px 0;

  .root--content {
    padding-top: 32px;
    flex: 0 1 calc(1200px + 12px*2);
  }
  .root--content-outlet {
    min-height: calc(100dvh - 64px - 32px - 56px - 32px);
    padding-bottom: 32px;
  }
}
