<button mat-icon-button mat-dialog-close>
  <mat-icon>close</mat-icon>
</button>

<div class="dialog--image-cover">
  <img [src]="data.photo" [alt]="data.dishName">
</div>

<mat-tab-group dynamicHeight>
  <mat-tab [label]="'addRecipe.recipeDialogTab1' | translate">
    <ng-template matTabContent>

      <div class="dialog--section">

        <h2 class="dialog--section-title">{{ data.dishName }}</h2>
        
        <h3 class="dialog--section-head">{{ 'addRecipe.ingredientsInputLabel' | translate }}</h3>
        <ul>
          <li *ngFor="let ingredient of data.ingredients;">{{ ingredient }}</li>
        </ul>
        <h3 class="dialog--section-head">{{ 'addRecipe.cookingStepsInputLabel' | translate }}</h3>
        <ol>
          <li *ngFor="let cookingStep of data.cookingSteps;">{{ cookingStep }}</li>
        </ol>
        <h3 class="dialog--section-head">{{ 'addRecipe.cookingTimeInputLabel' | translate }}</h3>
        <ul>
          <li>{{ data.cookingTime }}</li>
        </ul>
      
      </div>

    </ng-template>
  </mat-tab>
  <mat-tab [label]="'addRecipe.recipeDialogTab2' | translate">
    <ng-template matTabContent>

      <div class="dialog--section">

        <h2 class="dialog--section-title">{{ data.dishName }}</h2>
        
        <h3 class="dialog--section-head">{{ 'addRecipe.nutritionalValueInputLabel' | translate }}</h3>
        <ul>
          <li *ngFor="let ingredient of data.nutritionalValue;">{{ ingredient }}</li>
        </ul>
        <h3 class="dialog--section-head">{{ 'addRecipe.calorieContentInputLabel' | translate }}</h3>
        <ul>
          <li>{{ data.calorieContent }}</li>
        </ul>
      
      </div>

    </ng-template>
  </mat-tab>
  <mat-tab [label]="'addRecipe.recipeDialogTab3' | translate">
    <ng-template matTabContent>

      <div class="dialog--section">

        <ng-container *ngIf="service.recipeComments$ | async as recipeComments;else pendingRequest">
          <div class="comment" [ngClass]="{ last: isLast }" *ngFor="let recipeComment of recipeComments | orderByTimestamp;let isLast = last">
  
            <div class="comment--user-image">
              <img [src]="recipeComment.host.photoURL" [alt]="recipeComment.host.email">
            </div>
            <div class="comment--block">
              <ng-container *ngIf="recipeComment.user === (service.userId | async)">
                <mat-icon matTooltip="Delete" (click)="service.removeComment(recipeComment?.uid!)">close</mat-icon>
              </ng-container>
              <p class="comment--block-host">{{ recipeComment.host.displayName }}</p>
              <p class="comment--block-data">{{ recipeComment.comment }}</p>
              <p class="comment--block-timestamp">{{ recipeComment.timestamp | localTime }}</p>
            </div>
  
          </div>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'addRecipe.commentInputPlaceholder' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="comment" placeholder="Write a comment" (keydown.enter)="service.addComment(comment);comment = ''">
            <button matSuffix mat-icon-button (click)="service.addComment(comment);comment = ''">
              <mat-icon>send</mat-icon>
            </button>
          </mat-form-field>
        </ng-container>
        <ng-template #pendingRequest>
          <div class="dialog--section-spinner">
            <mat-spinner></mat-spinner>
          </div>
        </ng-template>

      </div>

    </ng-template>
  </mat-tab>
</mat-tab-group>
