.host--section-title {
  font-size: 32px;
}

.host--section-description {
  font-size: 16px;
}

.dishes {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 64px;

  .dishes--pending {
    flex: 0 1 100%;
    display: flex;
    justify-content: center;
  }
}

.mat-mdc-card {
  width: 400px;
  .mat-mdc-card-header {
    padding: 8px 16px;
  }
  .mat-mdc-card-image {
    aspect-ratio: 4/3;
    object-fit: cover;
  }
  .mat-mdc-card-content p {
    margin-top: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mat-mdc-card-actions {
    flex-direction: row-reverse;
  }
  &:first-child
  .mat-mdc-card-content {
    height: 100%;
    cursor: pointer;
    user-select: none;
    div {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: inherit;
    }
    .mat-icon {
      $size: 32px;
      width: $size;
      height: $size;
      font-size: $size;
    }
    p {
      font-size: 28px;
      line-height: 28px;
    }
  }
}
