<br>

<h2 class="host--section-title">{{ 'adminPortal.manageRecipesTitle' | translate }}</h2>

<p class="host--section-description">{{ 'adminPortal.manageRecipesDescription' | translate }}</p>

<mat-form-field color="accent" appearance="outline" color="primary" *ngIf="service.recipes$ | filterDish: service.dishNameSearch | async;">
  <mat-label>{{ 'adminPortal.searchInputPlaceholder' | translate }}</mat-label>
  <input matInput type="text" [(ngModel)]="service.dishNameSearch">
  <mat-hint>{{ 'adminPortal.searchInputHint' | translate }}</mat-hint>
</mat-form-field>

<br><br>

<div class="dishes">
  <ng-container *ngIf="service.recipes$ | async;else loadingDishes">
    <mat-card routerLink="/admin/manage-recipes/add-recipe">
      <mat-card-content matRipple>
        <div>
          <mat-icon>add</mat-icon>
          <p>{{ 'adminPortal.addRecipeButtonText' | translate }}</p>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card *ngFor="let recipe of service.recipes$ | filterDish: service.dishNameSearch | async;">
      <mat-card-header>
        <mat-card-title>{{ recipe.dishName }}</mat-card-title>
        <mat-card-subtitle>Recipe</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="recipe.photo" [alt]="recipe.dishName">
      <mat-card-actions>
        <button mat-button (click)="removeRecipe(recipe)">{{ 'adminPortal.deleteButtonText' | translate }}</button>
        <button mat-button (click)="service.updateRecipe(recipe)">{{ 'adminPortal.updateButtonText' | translate }}</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
  <ng-template #loadingDishes>
    <div class="dishes--pending">
      <mat-spinner color="primary"></mat-spinner>
    </div>
  </ng-template>
</div>
